<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ .Title }}</title>
	<!--<link rel="preload" href="/css/article.css" as="style" onload="this.rel='stylesheet'">-->
	<link rel="stylesheet" type="text/css" media="all" href="/css/fonts.css" />
	<link rel="stylesheet" href="/css/{{ .Kind }}.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#0d558f" />
	<meta name="theme-color" content="#ffffff" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
{{ partial "header.html" . }}
{{ block "main" . }}{{ end }}
	<footer><p><img src="/logo.svg" alt="One Universe at a Time" height="42" width="42" /></p></footer>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-32734539-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-32734539-1');
</script>

</body>
</html>