{{ define "main" }}
<main>
	<article>
		<h1>{{ .Title }}</h1>
		<section>
		<h2 class="subtitle">{{ .Description }}</h2>
		<p class="meta" id="topmeta">by Brian Koberlein | {{ .PublishDate.Format "2 January 2006" }} | {{ range .Params.categories }}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
		{{ if not .Params.featured }}<figure class="featured">
			<img{{ with .Params.featured_image }} src="/image/{{ . }}"{{ end }} alt="{{ with .Params.featured_image_caption }}{{ end }}" />
			<figcaption><p>{{ with .Params.featured_image_caption }}{{ . }}</p>{{ end }}</figcaption>
		</figure>{{ end }}
{{ .Content }}
{{ partial "discourse.html" . }}
     		<p class="meta" id="note">This post was written by <span class="author">Brian Koberlein</span> on <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2 January 2006" }}</time>.<br />It may be used under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0 license</a>.<br />Last revised on <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}">{{ .Page.Lastmod.Format "2 January 2006" }}</time>.</p>
		</section>
	</article>
</main>
{{ end }}