<header>
	<a id="logo" href="https://briankoberlein.com">Brian Koberlein</a>
	<nav>
	<ul id="menu">
        <li class="topmenu"><a href="https://blog.briankoberlein.com">Blog</a></li>
        <li class="topmenu"><a href="https://forum.briankoberlein.com">Forum</a></li>
        <li class="topmenu"><a href="https://briankoberlein.com/news/">News</a></li>
        <li class="topmenu"><a href="https://briankoberlein.com/about/">About</a></li>
        <li><a href="https://briankoberlein.com/support/">Support</a></li>
    </ul>
	</nav>
</header>